body {
    background-color: #0000FF;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 30px;
}

label {
    margin-top: 20px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
}

a {
    margin-top: 10px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


